body {
  margin: 0;
  padding: 0;
}
header {
  height: 120px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  padding-left: 120px;
  padding-right: 120px;
}

.box-shadow {
  box-shadow: 0 0 5px 0 rgb(0, 0, 0, 0.2);
}

header img {
  height: 84px;
}

header a {
  color: black;
  text-decoration: none;
  align-content: center;
  font-size: 24px;
   font-family: "Raleway", sans-serif;
}

header a:hover {
  color: rgb(0, 128, 0);
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 15px;
}
#header-aktiv {
  color: rgb(0, 128, 0) !important;
  text-decoration: underline !important;
  text-decoration-thickness: 4px !important; 
  text-underline-offset: 15px !important;
}
nav {
  margin-bottom: 10px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  gap: 30px;
}

.navMargin {
  display: flex;
  height: fit-content;
  margin-bottom: 5px;
  margin-top: auto;
}
.wrapper {
  height: 83vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}
.wrapper_1 {
  max-width: 1440px;
  margin: 0 auto;
}
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 28px;
}
 p {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: rgb(157, 166, 186);
}
.below320 {
  display: none;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 120px;
}

.bg-footer {
  background-color: rgb(35, 35, 35);
}

.sozial-media {
  height: 37px;
  width: auto;
}

.sozial-media-logos {
  align-items: center;
}
@media (max-width: 320px) {
  .wrapper {
    display: none;
  }
  .below320 {
    display: flex;
    margin: 20px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .properties-dennis {
    flex-direction: column;
  }
  .portionen-dennis {
    flex-direction: column;
  }
  #input-dennis {
    padding: 7px 18px;
    width: 101.5px;
  }
  .preparation-time {
    flex-direction: column;
  }
  .preperation-icon {
    margin-bottom: 10px;
  }
  .creator {
    flex-direction: column;
  }
}
